

//Font-Declaration
:root {
  --font-primary: var(--font-mont);
  --font-heading: var(--font-denton);
}

body {
  font-family: var(--font-primary), sans-serif;
}

h1,
h2,
h3,
div{
  font-family: var(--font-heading), sans-serif;
}

h4,
h5,
h6,
p{
  font-family: var(--font-primary), serif;
}

button, span{
  font-family: var(--font-primary), serif;
}

.head, title, .card-title, .card-head{
  font-family: var(--font-heading), serif;
}